.faq {
  &__accordion {
    max-height: 400px;
    transition: max-height $tr-duration ease ($tr-duration * 0.5), opacity $tr-duration ease ($tr-duration * 0.5);
    opacity: 0;
    flex-grow: 0;
    flex-shrink: 0;

    &.active {
      max-height: initial;
      max-height: auto;
      opacity: 1;
    }

    &-content {
      max-height: 0;
      opacity: 0;
      display: block;
      transition: all $duration ease;
      user-select: none;
      border-top: 1px solid $c-border-grey;
      color: $c-accordion-content;
      font-size: 14px;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      cursor: pointer;
    }
    &-arrow {
      display: inline-block;
      transition: transform $tr-duration ease;
      i {
        color: $c-accordion-title;
        transition: color $tr-duration ease;
        font-size: 12px;
      }
    }
    &-label {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: normal;
      user-select: none;
    }
    &-panel {
      border-top: 1px solid $c-border-grey;
      border-bottom: 1px solid $c-border-grey;
      background-color: $c-accordion-background-closed;
      @include padding(($spacing * 0.5) ($spacing*2) null ($spacing*2));
      transition: border $tr-duration ease, background-color $tr-duration ease;

      &.active {
        background-color: $c-accordion-background-open;
        border-top: 1px solid $c-orange;
        border-bottom: 1px solid $c-orange;
        .faq__accordion-arrow {
          transform: rotate(180deg);
          i {
            color: $c-orange;
          }
        }
        .faq__accordion-content {
          max-height: 200px;
          opacity: 1;
          user-select: auto;
          @include padding($spacing null);
        }
        .faq__accordion-label {

        }
      }
    }
  }
  article {
    display: flex;
    justify-content: center;
    transition: transform $tr-duration ease ($tr-duration * 0.5);
    background-color: white;
  }
}