.faq {
  &__accordion {
    max-height: 400px;
    transition: max-height $tr-duration ease ($tr-duration * 0.5), opacity $tr-duration ease ($tr-duration * 0.5);
    opacity: 0;
    flex-grow: 0;
    flex-shrink: 0;

    &.active {
      max-height: initial;
      max-height: auto;
      opacity: 1;
    }

    &-content {
      max-height: 0;
      opacity: 0;
      display: block;
      transition: all $duration ease;
      user-select: none;
      border-top: 1px solid $c-border-grey;
      color: $c-accordion-content;
      font-size: 14px;
      @include padding(null ($spacing*2))

    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      cursor: pointer;
      @include padding(null ($spacing*2))
    }
    &-arrow {
      display: inline-block;
      transition: transform $tr-duration ease;
      &__icon {
        @include size(7px);
        transform: rotate(-45deg);
        transition: border $tr-duration ease;
        border-left: 2px solid $c-accordion-title;
        border-bottom: 2px solid $c-accordion-title;
      }
    }
    &-label {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: normal;
      user-select: none;
    }
    &-panel {
      border-top: 1px solid $c-border-grey;
      border-bottom: 1px solid $c-border-grey;
      background-color: $c-accordion-background-closed;
      @include padding(($spacing * 0.5) 0 null 0);
      transition: border $tr-duration ease, background-color $tr-duration ease;

      &.active {
        background-color: $c-accordion-background-open;
        border-top: 1px solid $c-orange;
        border-bottom: 1px solid $c-orange;
        .faq__accordion-arrow {
          transform: rotate(180deg);
          &__icon{
            border-color: $c-orange;
          }
        }
        .faq__accordion-content {
          max-height: 200px;
          opacity: 1;
          user-select: auto;
          @include padding($spacing null);
        }
        .faq__accordion-label {

        }
      }
    }
  }
  article {
    display: flex;
    justify-content: center;
    transition: transform $tr-duration ease ($tr-duration * 0.5);
    background-color: white;
  }
}