.faq {
  &__accordion {
    max-height: 400px;
    transition: max-height $tr-duration ease ($tr-duration * 0.5), opacity $tr-duration ease ($tr-duration * 0.5);
    flex: 0 0 25%;
    max-width: 25%;
    opacity: 0;

    &.active {
      max-height: initial;
      max-height: auto;
      opacity: 1;
    }
    label {
      display: block;
      @include padding(null $spacing);
    }
    &-content {
      max-height: 0;
      opacity: 0;
      display: block;
      transition: all $duration ease;
      user-select: none;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      cursor: pointer;
    }
    &-arrow {
      display: inline-block;
      transition: transform $duration ease;
    }

    input[type="radio"] {
      display: none;
      &:checked {
        & ~ .faq__accordion-header {
          .faq__accordion-arrow {
            transform: rotate(180deg);
          }
        }
        & ~ .faq__accordion-content {
          max-height: 200px;
          opacity: 1;
          user-select: auto;
        }
      }
    }
  }
  article {
    display: flex;
    justify-content: center;
    transition: transform $tr-duration ease ($tr-duration * 0.5);
  }
}