.faq {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    color: black;
    border: 1px solid lightblue;
    i {
      margin-right: $spacing;
    }
  }
}