//$mw-slider: 320px;
$circleSize: 80px;
$circleDummySize: $circleSize + 30px;
$sliderIncrement: 115%;
.faq {
  header {
    position: relative;
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include padding($spacing);
    @include size(auto, 85px);
    background-color: $c-header-background;
    border-bottom: 1px solid $c-orange;
    overflow: hidden;

    &-image {
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
      transition: opacity $duration ease, visibility $duration ease;
      color: $c-header-title;
      flex: 0 0 auto;
      @include size($circleSize * 0.5, auto);
      &:first-of-type {
        opacity: 0;
        visibility: hidden;
      }
      &:last-of-type {
        opacity: 1;
        visibility: visible;
      }
      &.circle {
        @include size($circleSize * 0.65, auto);
        margin-top: 2px;
      }
      &.phone {
        @include size($circleSize * 0.4, auto);
        margin-top: 1px;
      }
      &.note {
        margin-left: 4px;
        margin-top: 2px;
        @include size($circleSize * 0.55, auto);
      }
      &.hand--hi {
        @include size($circleSize * 0.45, auto);
      }
      &.hand--currency {
        @include size($circleSize * 0.6, auto);
        margin-right: 1px;
        margin-top: -2px;
      }
      &.data {
        @include size($circleSize * 0.6, auto);
      }
    }

    &-item {
      @include size($circleSize);
      border-radius: 50%;
      @include padding(5px);
      flex: 0 0 $circleSize;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all $duration ease;
      background-color: white;
      cursor: pointer;
      user-select: none;
      @for $i from 2 through 10 {
        &:nth-child(#{$i}) {
          transform: translateX(($i - 1) * $sliderIncrement);
        }
      }

      &.active {
        background-color: $c-orange;
        transform: translateX(0) scale(1.1);
        z-index: 2;
        .faq__slider-image {
          &:first-of-type {
            opacity: 1;
            visibility: visible;
          }
          &:last-of-type {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
  &__dummy {
    overflow: hidden;
    @include size($circleDummySize, 20px);
    @include position(absolute, null null -20px null);
    &-dip {
      display: block;
      @include position(absolute, null null 0 50%);
      @include size($circleDummySize);
      border-radius: 50%;
      @include margin(null null null (-$circleDummySize * 0.5));
      background-color: $c-header-background;
      border: 1px solid $c-orange;
    }
  }
}