//$mw-slider: 320px;
$circleSize: 70px;
$circleDummySize: $circleSize + 30px;
.faq {
  header {
    position: relative;
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include padding($spacing);
    @include size(auto, 85px);
    background-color: $c-header-background;
    border-bottom: 1px solid $c-orange;
    overflow: hidden;

    &-image {
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
      transition: opacity $duration ease, visibility $duration ease;
      color: $c-header-title;
      flex: 0 0 auto;
      &:first-of-type {
        opacity: 0;
        visibility: hidden;
      }
      &:last-of-type {
        opacity: 1;
        visibility: visible;
      }
    }

    &-item {
      @include size($circleSize);
      border-radius: 50%;
      @include padding(5px);
      flex: 0 0 $circleSize;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all $duration ease;
      background-color: white;
      cursor: pointer;
      user-select: none;
      &:nth-child(2) {
        transform: translateX(120%);
      }
      &:nth-child(3) {
        transform: translateX(230%);
      }
      &:nth-child(4) {
        transform: translateX(340%);
      }
      &.active {
        background-color: $c-orange;
        transform: translateX(0) scale(1.1);
        //transform-origin: top center;
        z-index: 2;
        .faq__slider-image {
          background-color: darkorange;
          color: white;
          &:first-of-type {
            opacity: 1;
            visibility: visible;
          }
          &:last-of-type {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
  &__dummy {
    overflow: hidden;
    @include size($circleDummySize, 20px);
    @include position(absolute, null null -20px null);
    &-dip {
      display: block;
      @include position(absolute, null null 0 50%);
      @include size($circleDummySize);
      border-radius: 50%;
      @include margin(null null null (-$circleDummySize * 0.5));
      background-color: $c-header-background;
      border: 1px solid $c-orange;
    }
  }
}