//$mw-slider: 320px;
$circleSize: 105px;
$circleDummySize: $circleSize + 30px;
$sliderIncrement: 105%;
$c-blur-notactive: rgba(217,217,217,0.5);
$c-blur-active: rgba(255,133,11,0.5);
$initialScale: 0.83;
.faq {
  header {
    position: relative;
  }
  &__slider {
    position: relative;
    @include padding($spacing);
    @include size(auto, 92px);
    background-color: $c-header-background;

    &-image {
      @include position(absolute, 50% null null 50%);
      transform: translate3d(-50%, -50%, 0) scale(0.8);
      transition: opacity $duration ease, visibility $duration ease, transform $tr-duration ease;
      color: $c-header-title;
      flex: 0 0 auto;
      @include size($circleSize * 0.5, auto);

      svg {
        width: 100%;
        height: auto;
      }

      &.circle {
        @include size($circleSize * 0.65, auto);
        margin-top: 2px;
      }
      &.phone {
        @include size($circleSize * 0.4, auto);
        margin-top: 1px;
      }
      &.letter {
        margin-left: 5px;
        margin-top: 2px;
        @include size($circleSize * 0.53, auto);
      }
      &.moneyinhand {
        @include size($circleSize * 0.45, auto);
      }
      &.currency {
        @include size($circleSize * 0.6, auto);
        margin-right: 1px;
        margin-top: -2px;
      }
      &.disk {
        @include size($circleSize * 0.6, auto);
      }
    }

    &-item {
      @include size($circleSize);
      border-radius: 50%;
      flex: 0 0 $circleSize;
      @include position(absolute, 9px null null 50%);
      margin-left: -(($circleSize)/2);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all $duration ease;
      background-color: white;
      cursor: pointer;
      user-select: none;
      box-shadow: 0px 0px 10px 1px $c-blur-notactive;
      box-sizing: border-box;
      @for $i from 2 through 10 {
        &:nth-child(#{$i}) {
          transform: translate3d(($i - 1) * $sliderIncrement, 0, 0) scale($initialScale);
        }
      }

      &.active {
        background-color: $c-orange;
        transform: translate3d(0, 0, 0) scale(1);
        transform-origin: center top;
        box-shadow: 0px 0px 10px 2px $c-blur-active;
        .faq__slider-image {
          transform: translate3d(-50%, -50%, 0) scale(1);
        }
      }
    }
  }
}