.faq {
  &__title {
    text-align: center;
    line-height: 1;
    transition: all $duration ease;
    flex: 0 0 (100% * 1/6);
    max-width: 100% * 1/6;
    width: 100% * 1/6;
    @include margin(null null ($spacing) null);
    h2 {
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
    }
    &s {
      @include size(auto, 50px);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      transition: transform $tr-duration ease ($tr-duration * 0.25);
      background-color: white;
      border-bottom: 1px solid $c-border-grey;
    }
  }
}