.faq {
  &__title {
    text-align: center;
    line-height: 1;
    transition: all $duration ease;
    width: 25%;
    flex: 0 0 25%;
    &s {
      @include size(auto, 50px);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform $tr-duration ease ($tr-duration * 0.25);
    }
  }
}